POSTGRES_DB=equiply
POSTGRES_USER=equiply
POSTGRES_PASSWORD=equiply_local
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
MINIO_ROOT_USER=equiply
MINIO_ROOT_PASSWORD=equiply_minio_local
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8180
NEXT_PUBLIC_KEYCLOAK_REALM=equiply
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=equiply-web
NEXT_PUBLIC_DEMO_MODE=false
NEXT_PUBLIC_BASE_PATH=
